      .div2 {
          border: 1px solid;
          width: 100px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .clicked {
          color: gold;
      }